<h1>Spaces#index</h1>
<p>Find me in app/views/spaces/index.html.erb</p>
<div class="container">
  <div class="row"></div>
    <div class="cards col-12 col-mg-6 col-lg-6">
      <% @spaces.each do |space| %>
      <div class="card-product">
          <div class="card-product-infos">
            <div class="thumbnail-holder">
              <h2><%= space.name %></h2>
              <p><%= space.category %></p>
              <p><%= space.address %></p>
              <p><%= space.size %></p>
              <span><%= space.description %></span>
              <p><%= space.price %></p>
              <%#= image_tag movie.poster_url, alt: movie.title, class: 'movie-img rounded-top' %>
              <div class="thumbnail-overlay d-flex align-items-end p-3">
                <div class="overlay-content border-bottom">See details</div>
              </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<div id="map" class="col-12 col-mg-6 col-lg-6">
</div>
