<div class="container p-4">
<h1>List a new space!</h1>
<p></p>
  <div class="d-flex flex-column justify-content-center p-4">
    <%= simple_form_for @space do |f| %>
      <%= f.input :name, class: "form-control" %>
      <%= f.input :address, class: "form-control" %>
      <%= f.input :size, class: "form-control" %>
      <%= f.input :price, class: "form-control" %>
      <%= f.input :description, class: "form-control", placeholder: 'Describe about your space' %>
      <%= f.input :amenities, class: "form-control", placeholder: 'Describe about ameties' %>
      <%= f.input :neighborhood, class: "form-control", placeholder: 'Describe about Neighborhood' %>
      <%= f.input :safety_note, class: "form-control", placeholder: 'Describe about Safety Note' %>
      <%= f.input :category, collection: Space::CATEGORIES, class: "form-control", placeholder: 'Pick one category' %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit class: 'btn btn-secondary btn-submit py-3 my-3', value: 'List your space!' %>
    <% end %>
  </div>
</div>
