<div class="container flex">
  <div class="row flex-column">
    <h1>Spaces#show</h1><br>
    <h2 class="space-name"><%= @space.name %></h2>
    <p><%= @space.address %></p>
    <img src="https://cdn.pixabay.com/index/2021/11/02/07-35-50-740_1440x550.jpg" style="height:300px;">
  </div>
  <div class="row">
    <div class="space-detail p-4 col-12 col-lg-7">
    <div class="user-box py-4">
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><h2 class="space-name"><%= @space.name %></h2></p>
          <p><%= @space.address %></p>
        </div>
      </div>
    </div>
      <div class="card-feature">
        <div class="card-feature-product">
          <h2>tetttttttttt</h2>
          <p>testtesttest</p>
        </div>
      </div>
      <div class="card-feature">
        <div class="card-feature-product">
          <h2>tetttttttttt</h2>
          <p>testtesttest</p>
        </div>
      </div>
      <div class="description">
        <p><%= @space.description %></p>
      </div>
    </div>

    <div class="reservation-container col-12 col-lg-5">
      <div class="reservation-box p-5">
        <div class="reservation-details d-flex flex-column">
          <h2><strong>¥<%= @space.price %></strong> / day</h2>
          <%= simple_form_for @space do |f| %>
            <span>check in</span><%= f.input :name %>
            <span>check out</span><%= f.input :name %>
            <span>???</span><%= f.submit class: 'btn btn-secondary btn-submit' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h2>Where you'll be</h2>
  <p><%= @space.address %></p>
  <div class="map">☆☆☆☆☆☆☆☆☆☆Map here☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆</div>
</div>
