<div class="container">
  <%= render 'subnavbar' %>

  <h1 class="page-title mb-3">Here are your bookings</h1>
      <div class="row">
        <% @bookings.each do |booking| %>
          <div class="card-trip-popup" style="width:360px">
            <div class="d-flex justify-content-between">
              <div class="p-2"><strong>from: </strong><%= booking.start_date %></div>
              <div class="p-2"><strong>to: </strong> <%= booking.end_date %></div>
            </div>
            <%= cl_image_tag booking.space.photos.first.key, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h3><%= booking.space.name %></h3>
                <h5><i class="fas fa-map-marker-alt mr-2"></i><%= booking.space.address %></h4>
                <div> <!-- accept and reject of bookings as an owner-->
       <% if current_user == booking.space.user  %>
       <div class="booking-actions">
        <% if booking.pending? %>
          <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
            <%= f.submit 'Accept', class: 'btn btn-info' %>
          <% end %>
          <%= simple_form_for booking do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
            <%= f.submit 'Reject', class: 'btn btn-info' %>
          <% end %>
        <% else %>
          <p class='booking-tag'><%= booking.status %></p>
        <% end %>
      </div>
      <% else %>
        <p class='booking-tag'><%= booking.status %></p>
      <% end %>
      </div> <!-- closing tag of accept and reject as an owner-->
              </div>
              <h2 class="card-trip-pricing">¥<%= (booking.end_date - booking.start_date).to_i * booking.space.price %></h2>
              <p class="card-trip-user avatar-square"><strong> # <%= booking.id %></strong></p>
            </div>
        </div>
      <% end %>

      </div>

</div>
</div>
