<div class="container">
  <h1>My travel</h1>
  <h2>Here are your bookings:</h2>
      <% @bookings.each do |booking| %>
      <div class="cards">
        <div class="card-trip-popup">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-trip-infos">
            <div>
              <p>from: <%= booking.start_date %></p>
              <p>to: <%= booking.end_date %></p>
              <h3><%= booking.space.name %></h3>
            </div>
            <h2 class="card-trip-pricing">¥<%= (booking.end_date - booking.start_date).to_i * booking.space.price %></h2>
            <p class="card-trip-user avatar-square">#<%= booking.id %></p>
          </div>
        </div>
      </div>
      <% end %>

  </div>
</div>
