<div class="container">
  <%= render 'subnavbar' %>
  <h1 class="page-title mb-3">Here are your spaces</h1>
  <div class="row">
      <% @spaces.each_with_index do |space, index| %>
        <%= link_to space_path(space) do %>
          <div class="card-trip-popup" style="width:360px">
            <%= cl_image_tag space.photos.first.key, crop: :fill %>
            <div class="card-trip-infos">
              <div>
                <h3><%= space.name %></h3>
                <h5><i class="fas fa-map-marker-alt mr-2"></i><%= space.address %></h5>
                <h5>size: <%= space.size %>㎡</h5>
              </div>
              <h2 class="card-trip-pricing">¥<%= space.price %>/day</h2>
              <p class="card-trip-user avatar-square"><strong> # <%= space.id %></strong></p>
            </div>
          </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
