
<div class="hero">
  <div class="background-container">
    <%# background %>
    <div class="background src1"></div>
    <div class="background src2"></div>
    <div class="background src3"></div>
    <div class="background src4"></div>
    <%# /background %>
      <div class="container text-center" style="padding:250px 0;">
        <div class="container text-center pb-5 boxString">
          <h1 class="text-white" style="font-size:32px">Pop a pop-up shop!</h1>
          <h2 class="text-white">The best deals for space rental</h2>
        </div>
        <%# searchform %>
        <div class="search-form" style="margin: 0 auto;">
          <div class="search-container">
            <div class="search-box">
              <%= simple_form_for :search, url: search_path, method: :get do |f| %>
                <div class="search-form-control form-group">
                  <input class="form-control string required px-5" type="text" name="search[query]" id="search_query" placeholder="Search spaces!"/>
                  <button name="button" type="submit" class="btn btn-flat">
                    <i class="fas fa-search h3 mr-3"></i>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%# /searchform %>
      </div>
  </div>
  <div class="container text-center bg-light py-5 my-5">
      <h1 class="mb-4" style="color: #555555; font-size: 30px;">Hot Spots</h1>
      <!-- <div class="splide">
          <div class="splide__track">
            <ul class="splide__list">
              <%= link_to spaces_path(address:"Shibuya") do %>
                <li class="splide__slide">
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Tokyo_Shibuya_Scramble_Crossing_2018-10-09.jpg/2560px-Tokyo_Shibuya_Scramble_Crossing_2018-10-09.jpg)">
                    Shibuya
                  </div>
                </li>
              <% end %>
                <%= link_to spaces_path(address:"Ginza") do %>
              <li class="splide__slide">
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/5/5b/Ginza-WAKO_at_night.jpg)">
                    Ginza
                  </div>
                </li>
              <% end %>
              <%= link_to spaces_path(address:"Yokohama") do %>
                <li class="splide__slide">
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2018/01/25-Things-to-Do-in-Yokohama-lead.jpg)">
                    Yokohama
                  </div>
                </li>
              <% end %>
              <%= link_to spaces_path(address:"Shinjuku") do %>
                <li class="splide__slide">
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/104802508/image.jpg)">
                    Shinjuku
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div> -->
    <div class="cards d-flex justify-content-center">
      <div class="p-2">
        <%= link_to spaces_path(address:"Shibuya") do %>
          <div class="card-category" style="width: 240px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.timeout.com/images/104802508/image.jpg)">
            Shibuya
          </div>
        <% end %>
      </div>
      <div class="p-2">
        <%= link_to spaces_path(address:"Ginza") do %>
          <div class="card-category" style="width: 240px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://upload.wikimedia.org/wikipedia/commons/5/5b/Ginza-WAKO_at_night.jpg)">
            Ginza
          </div>
        <% end %>
      </div>
      <div class="p-2">
        <%= link_to spaces_path(address:"Yokohama") do %>
          <div class="card-category" style="width: 240px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://gaijinpot.scdn3.secure.raxcdn.com/app/uploads/sites/4/2018/01/25-Things-to-Do-in-Yokohama-lead.jpg)">
            Yokohama
          </div>
        <% end %>
      </div>
      <div class="p-2">
        <%= link_to spaces_path(address:"Meguro") do %>
          <div class="card-category" style="width: 240px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://a0.cdn.japantravel.com/photo/12984-74745/1000/tokyo-cherry-blossoms-meguro-river-74745.jpg)">
            Meguro
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
