  <ul class="avatar-dashboard">
    <li><img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" /></li>
    <li><%= current_user.email %></li>
    <li><%= link_to dashboard_path, class: 'status btn btn-submit text-white h3' do %>
     <i class="fa fa-code"></i>All bookings
    <% end %>
    </li>
    <li><%= link_to pending_path, class: 'status btn btn-submit text-white h3' do %>
     <i class="fa fa-code"></i>Pending
    <% end %>
    </li>
    <li><%= link_to accepted_path, class: 'status btn btn-submit text-white h3' do %>
     <i class="fa fa-code"></i>Accepted
    <% end %>
    </li>
    <li><%= link_to user_space_path, class: 'status btn btn-happy text-white h3' do %>
      <i class="fa fa-share-alt mr-2"></i>Your spaces
    <% end %>
    </li>
  </ul>
